PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=test@123OP
DB_NAME=email_scheduler

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=zoe.lesch@ethereal.email
SMTP_PASS=eYCx7P65mQjVswqs4A
